@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Rent movies, fast delivery.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Any movie, old and new</h2>
        <p>
            Browse our extensive list of movies from old classics to brand new masterpieces. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fast delivery</h2>
        <p>Come pick up your movie or get it delivered to you within a business day.</p>
    </div>
    <div class="col-md-4">
        <h2>Help a local business</h2>
        <p>Vidly is a local business in a very hich concurrence market. You keep us alive.</p>
    </div>
</div>